<div>
    <h2>
        <span>Sonar Components</span>
        <button class="btn btn-primary float-right jh-create-entity create-sonar-component" [routerLink]="['/', { outlets: { popup: ['sonar-component-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Sonar Component
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sonarComponents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Organization</span></th>
            <th><span>Component Id</span></th>
            <th><span>Component Key</span></th>
            <th><span>Name</span></th>
            <th><span>Description</span></th>
            <th><span>Qualifier</span></th>
            <th><span>Path</span></th>
            <th><span>Maven Module</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sonarComponent of sonarComponents ;trackBy: trackId">
                <td><a [routerLink]="['../sonar-component', sonarComponent.id ]">{{sonarComponent.id}}</a></td>
                <td>{{sonarComponent.organization}}</td>
                <td>{{sonarComponent.componentId}}</td>
                <td>{{sonarComponent.componentKey}}</td>
                <td>{{sonarComponent.name}}</td>
                <td>{{sonarComponent.description}}</td>
                <td>{{sonarComponent.qualifier}}</td>
                <td>{{sonarComponent.path}}</td>
                <td>
                    <div *ngIf="sonarComponent.mavenModule">
                        <a [routerLink]="['../maven-module', sonarComponent.mavenModule?.id ]" >{{sonarComponent.mavenModule?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sonar-component', sonarComponent.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sonar-component/'+ sonarComponent.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sonar-component/'+ sonarComponent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
