
<div *ngIf="jenkinsJob">
    <h2><span>Jenkins Job</span> {{jenkinsJob.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Url</span></dt>
        <dd>
            <span>{{jenkinsJob.url}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <span>{{jenkinsJob.type}}</span>
        </dd>
        <dt><span>Jenkins Folder</span></dt>
        <dd>
            <div *ngIf="jenkinsJob.jenkinsFolder">
                <a [routerLink]="['/jenkins-folder', jenkinsJob.jenkinsFolder?.id]">{{jenkinsJob.jenkinsFolder?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'jenkins-job/'+ jenkinsJob.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
