<div>
    <h2>
        <span>Jenkins Jobs</span>
        <button class="btn btn-primary float-right jh-create-entity create-jenkins-job" [routerLink]="['/', { outlets: { popup: ['jenkins-job-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Jenkins Job
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="jenkinsJobs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Url</span></th>
            <th><span>Type</span></th>
            <th><span>Jenkins Folder</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jenkinsJob of jenkinsJobs ;trackBy: trackId">
                <td><a [routerLink]="['../jenkins-job', jenkinsJob.id ]">{{jenkinsJob.id}}</a></td>
                <td>{{jenkinsJob.url}}</td>
                <td>{{jenkinsJob.type}}</td>
                <td>
                    <div *ngIf="jenkinsJob.jenkinsFolder">
                        <a [routerLink]="['../jenkins-folder', jenkinsJob.jenkinsFolder?.id ]" >{{jenkinsJob.jenkinsFolder?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../jenkins-job', jenkinsJob.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'jenkins-job/'+ jenkinsJob.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'jenkins-job/'+ jenkinsJob.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
